@import "reset";
@import "variables/global";

body {
  color:#fff;
  background: #1c1a1a;
}

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-m);
  min-height: 100vh;
  height: 100%;
  font-weight: 300;
}
