.root {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 30px;
}

.menuWrapper {
    margin-bottom: 20px;
}

.title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
}

.subInfo {
    font-size: 14px;
    margin-top: 10px;
    color: #ec9f50;
}

.subTitle {
    margin-bottom: 10px;
    font-size: 25px;
    color: #ec9f50;
}

.drinksWrapper:not(:last-child) {
    margin-bottom: 15px;
}

.drinkWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.descriptionInfoWrapper {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
}

.descTitle {
    font-weight: 700;
}

.descText {
    font-size: 12px;
    max-width: 190px;
}

.addColorDesc {
    color: #ec9f50;
}

.infoIcon {
    width: 20px;
    height: 20px;
    fill: #ec9f50;
    display: block;
}

.priceDrinkWrapper {
    display: flex;
}

.volumeDrink {
    letter-spacing: -1px;
    margin-right: 15px;
}

.price {
    font-weight: bold;
}
