@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --font-family-main: Montserrat, 'Times New Roman', sans-serif;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-line-m: 24px;
  --font-line-s: 22px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --bg-color: #1C1B1B;
  --color-secondary: #898989;
  --color-primary: #D4D4D4;
  --color-additional: #C77544;
}
